@import "tailwindcss";

:root {
  --background: #ffffff;
  --black: #171618;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font_inter);
  color: var(--black);
}

h1 {
  letter-spacing: -.025em;
  margin-top: 0;
  margin-bottom: 1.4rem;
  line-height: 1;
}